<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecuriry5"	>
 
<head th:replace="fragments :: page_head('Home - Shopme Admin', 'none')"></head>
<body>
<div class="container-fluid">

	<div th:replace="navigation :: menu">
	
	</div>

	<div>
		<h2>Shopme Control Pannel</h2>
		Welcome <a th:href="@{/account}" 
					sec:authentication="principal.FullName" ></a>
		<span sec:authentication="principal.authorities"></span>
	</div>
	
	<div th:replace="fragments :: footer"></div>
	
</div>

</body>
</html>