<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>[[${title}]]</title>

<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

<script type="text/javascript"
	src="/ShopmeAdmin/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"
	src="/ShopmeAdmin/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>

</head>
<body>
	<div th:fragment="content" id="divProductDetails">

		<!-- 	EDIT MODE -->
		<th:block th:each="detail, status : ${product.details}">
			<div th:fragment="content" id="divProductDetails">
				<div class="form-inline" th:id="'divDetail' + ${status.index}">
					<input type="hidden" name="detailIDs" th:value="${detail.id}">

					<label class="m-3">Name</label> <input type="text"
						class="form-control w-25" name="detailNames"
						th:value="${detail.name}"> <label class="m-3">Value</label>
					<input type="text" class="form-control w-25" name="detailValues"
						th:value="${detail.value}"> <a name="linkRemoveDetails"
						class="fa fa-times-circle fa-2x float-right m-2"
						title="Remove this detail"></a>
				</div>
			</div>
		</th:block>

		<!-- 	NEW MODE -->
		<div class="form-inline"
			th:id="'divDetail' + ${#lists.size(product.details)}">
			<label class="m-3">Name</label> <input type="hidden" name="detailIDs"
				value="0"> <input type="text" class="form-control w-25"
				name="detailNames"> <label class="m-3">Value</label> <input
				type="text" class="form-control w-25" name="detailValues">
		</div>
	</div>
</body>
</html>