<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shipping Rates - Shopme Admin', 'none')"></head>
<body>
<div th:fragment = "cod_support()" th:remove="tag">
	<a th:if="${item.codSupported}" class="fas fa-hand-holding-usd fa-2x icon-green"
		th:href="@{'/shipping_rates/cod/' + ${item.id} + '/enabled/false'}"
		title="Disable COD support for this destination">
	 </a>	
	 
	 <a th:unless="${item.codSupported}" class="fas fa-hand-holding-usd fa-2x icon-dark"
		th:href="@{'/shipping_rates/cod/' + ${item.id} + '/enabled/true'}"
		title="Enable COD support for this destination">
	 </a>	
</div>
	
</body>
</html>